body{
    background-color: #FF4656;
}
.principal__titulo h1{
    font-family: Druk Wide Bold;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsl(0, 25%, 98%);
}